* {
  margin: 0;
  padding: 0;
}
.App {
  text-align: center;
}
.Technologies {
  font-family: "Raleway";
}
.developmentCycle {
  width: 100%;
  height: 60rem;
  background-color: #3c424f;
  color: white;
}

.developmentCycle h1 {
  font-size: larger;
  background-color: #3c424f;
  color: white;
  font-family: "Raleway";
  font-size: 3rem;
  font-weight: 100;
  display: flex;
  justify-content: flex-start;
  margin-top: 5rem;
  margin-left: 4rem;
}
.name {
  font-size: "20px";
  color: "red";
  font-family: "Fresca";
}

.sectionHeading1 {
  font-family: "Raleway";
  font-size: 3rem;
  font-weight: 100;
  display: flex;
  justify-content: flex-start;
  margin-top: 5rem;
  margin-left: 4rem;
}
.sectionHeading2 {
  font-family: "Raleway";
  font-size: 6rem;
  font-weight: 900;
  display: flex;
  justify-content: flex-start;
  color: #3c424f;
  margin-left: 4rem;
}

.sectionSubHeading {
  font-size: 2rem;
  font-weight: 10;
  display: flex;
  justify-content: flex-start;
  margin: "1rem";
  padding-bottom: 1rem;
  margin-left: 4rem;
}

.introImgs {
  width: 100%;
  border: solid grey 1px;
  padding: 10px;
  display: flex;
  justify-content: space-around;
}
img {
  height: 30rem;
  margin: auto 5px;
}
#img2 {
  width: 50%;
}
.tech {
  border-top: #3c424f solid 2px;

  margin: 2rem 0;
}
.tech ul {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 20px;
}
.tech li {
  display: flex;
  flex-direction: column;
  width: 20%;
  font-size: 1.6rem;
  margin: 20px;
  color: #3c424f;
  background-color: white;
  transition: font-size 1s ease;
  -moz-transition: font-size 1s ease; /* Firefox 4 */
  -webkit-transition: font-size 1s ease; /* Safari and Chrome */
  -o-transition: font-size 1s ease;
}
.tech li:hover i {
  font-size: 5rem;
}

.tech i {
  font-size: 4rem;
  text-align: center;
  margin: 30px;
  color: #0098cc;
}
.line {
  border-bottom: solid red 4px;
  margin-top: 10px;
  opacity: 0;
}
.tech li:hover .line {
  opacity: 1;
}

.footInfo {
  width: 100vw;
  height: 30rem;
  background-color: #c8c8d2;
  display: inline-flex;
  position: relative;
}
.footInfo img {
  position: absolute;
  right: 0px;
}
.footText {
  background-color: #3c424f;
  color: white;
  width: 60%;
  height: 20rem;
  float: right;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 100px;
  margin: auto 0 auto 100px;
  position: absolute;
  left: 0px;
  top: 50%;
  transform: translate(0, -50%);
  z-index: 1;
}
.footText h1 {
  margin-bottom: 20px;
  padding-bottom: 10px;
  border-bottom: solid white 2px;
}

.RecentProjects {
  width: 100%;
  height: 80vh;
  background-color: #3c424f;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.projectWrapper {
  width: 1535px;
  margin: auto;
  border: solid white 3px;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
}
.buttonWrapper {
  width: 1515px;
  margin: 20px auto;
  display: flex;
  justify-content: space-between;
}

.buttonWrapper button {
  width: 10rem;
  height: 5rem;
  background-color: #3c424f;
  color: white;
  border: solid white 3px;
}

.projects {
  display: inline-flex;
  transition: transform 2s;
}

.project {
  width: 500px;
  height: 300px;
  border: solid white 1px;
  margin: 5px;
}
